*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    flex-wrap: wrap;
}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: darkred;
    justify-content: space-between;

}
.center-left{
    width: 25%;
    height: 80%;
    background-color: darkblue;
}
.center-rigth{
    width: 75%;
    height: 80%;
    background-color: white;
}
.footer{
    width: 100%;
    height: 10%;
    background-color: darkred;
}
.container .header .logo a img{
    height: 100%;
    width: 10%;
}